table {
	margin-top: 10px;
	margin-left:auto;
	margin-right: auto;
    border-collapse: collapse;
    width: 90%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr {
	 line-height: 30px; 
}

tr:nth-child(even){
	background-color: #f2f2f2
}

th {
    background-color: black;
    color: white;
}

header, footer {
    padding: 1px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}